<mat-toolbar color="primary">
	<span class="header-name">ZenduForms</span>
	<div class="flex-spacer"></div>
	<div class="header-links">
		<a mat-button routerLink="/forms" routerLinkActive="active-link">
			<mat-icon>list</mat-icon>
			<span>Forms</span>
		</a>
		<a mat-button routerLink="/customers" routerLinkActive="active-link">
			<mat-icon>people</mat-icon>
			<span>Customers</span>
		</a>
		<a
			mat-button
			routerLink="/submissions/map"
			[ngClass]="router.url.includes('submissions') ? 'active-link' : ''"
		>
			<mat-icon>graphic_eq</mat-icon>
			<span>Submissions</span>
		</a>
		<a mat-button routerLink="/history" routerLinkActive="active-link">
			<mat-icon>history</mat-icon>
			<span>History</span>
		</a>
		<a mat-button routerLink="/reports" routerLinkActive="active-link">
			<mat-icon>insert_chart_outlined</mat-icon>
			<span>Reports</span>
		</a>
		<a mat-button routerLink="/workflow" routerLinkActive="active-link">
			<mat-icon>insert_chart_outlined</mat-icon>
			<span>Workflow</span>
		</a>
	</div>
	<div class="flex-spacer"></div>
	<div class="header-right">
		<button [matMenuTriggerFor]="notificationsMenu" mat-icon-button>
			<mat-icon>notifications</mat-icon>
		</button>
		<mat-menu #notificationsMenu="matMenu">
			<button mat-menu-item>
				<mat-icon>notifications</mat-icon>
				<span>Notifications</span>
			</button>
		</mat-menu>
		<button mat-icon-button>
			<mat-icon>logout</mat-icon>
		</button>
	</div>
</mat-toolbar>
