<div class="table-wrapper">
	<ng-container *ngIf="isLoading">
		<div class="loading">
			<mat-spinner></mat-spinner>
		</div>
	</ng-container>
	<ng-container>
		<table
			[dataSource]="
				dataSource
					| listFilter: filterService.getFilter()
					| paginate: { itemsPerPage: PAGE_SIZE, currentPage: page }
			"
			class="mat-elevation-z8"
			mat-table
		>
			<ng-container matColumnDef="select">
				<th *matHeaderCellDef mat-header-cell>
					<mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						color="primary"
					>
					</mat-checkbox>
				</th>
				<td *matCellDef="let row" mat-cell>
					<mat-checkbox
						(change)="$event ? selection.toggle(row) : null"
						(click)="$event.stopPropagation()"
						[checked]="selection.isSelected(row)"
						color="primary"
					>
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container matColumnDef="taskName">
				<th *matHeaderCellDef mat-header-cell>Task</th>
				<td *matCellDef="let element" mat-cell class="task-field">
					{{ element['taskName'] }}
				</td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th *matHeaderCellDef mat-header-cell>Status</th>
				<td *matCellDef="let element" mat-cell class="width-field">
					<div [ngClass]="element['status']" class="table-status">
						<div class="status-circle"></div>
						{{ element['status'] }}
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="emailFrom">
				<th *matHeaderCellDef mat-header-cell>From</th>
				<td *matCellDef="let element" mat-cell class="width-field">
					{{ element['emailFrom'] }}
				</td>
			</ng-container>

			<ng-container matColumnDef="emailTo">
				<th *matHeaderCellDef mat-header-cell>To</th>
				<td *matCellDef="let element" mat-cell class="width-field">
					{{ element['emailTo'] }}
				</td>
			</ng-container>

			<ng-container matColumnDef="customerAddress">
				<th *matHeaderCellDef mat-header-cell>Customer Address</th>
				<td *matCellDef="let element" mat-cell class="address-field">
					{{ element['customerAddress'] }}
				</td>
			</ng-container>

			<ng-container matColumnDef="dueDate">
				<th *matHeaderCellDef mat-header-cell>Due Date</th>
				<td
					*matCellDef="let element"
					mat-cell
					class="width-field"
					[ngClass]="
						today.getTime() - element['dueDateRaw'] < 1000 * 60 * 60 * 72
							? 'overdue'
							: ''
					"
				>
					{{ element['dueDate'] }}
					{{ element['dueDateShow'] }}
				</td>
			</ng-container>

			<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" [attr.colspan]="displayedColumns.length">
					No data matching the filter.
				</td>
			</tr>
		</table>
	</ng-container>
</div>

<pagination-template #p="paginationApi" (pageChange)="page = $event">
	<div class="custom-pagination">
		<div class="custom-info">
			{{ (p.getCurrent() - 1) * PAGE_SIZE + 1 }}-{{
				Math.min((p.getCurrent() - 1) * PAGE_SIZE + PAGE_SIZE, p.getTotalItems())
			}}
			of
			{{ p.getTotalItems() }} submissions
		</div>
		<div class="custom-controls">
			<div
				class="pagination-previous custom-paginator-btn"
				[class.disabled]="p.isFirstPage()"
				(click)="p.getCurrent() > 1 && p.previous()"
			>
				<img src="assets/icons/pagination_arrow_left.svg" alt="pagination arrow left" />
			</div>

			<div
				*ngFor="let page of p.pages"
				[class.current]="p.getCurrent() === page.value"
				(click)="p.setCurrent(page.value)"
				class="custom-paginator-btn"
			>
				<a *ngIf="p.getCurrent() !== page.value">
					<span>{{ page.label }}</span>
				</a>
				<div *ngIf="p.getCurrent() === page.value">
					<span>{{ page.label }}</span>
				</div>
			</div>

			<div
				class="pagination-next custom-paginator-btn"
				[class.disabled]="p.isLastPage()"
				(click)="p.getCurrent() < p.pages.length && p.next()"
			>
				<img src="assets/icons/pagination_arrow_right.svg" alt="pagination arrow right" />
			</div>
		</div>
	</div>
</pagination-template>
