@use '@angular/material' as mat;

@include mat.core();

$zendu-palette: (
	50: #e4f1fa,
	100: #bcdbf4,
	200: #90c4ec,
	300: #64ace4,
	400: #429adf,
	500: #2188d9,
	600: #1d80d5,
	700: #1875cf,
	800: #146bca,
	900: #0b58c0,
	A100: #ecf3ff,
	A200: #b9d4ff,
	A400: #86b4ff,
	A700: #6da4ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
	hover: #1773bb,
	error: #ff3d00,
	success: #53d86a,
	border: #b8b9bc,
);

$ZenduForms-primary: mat.define-palette($zendu-palette);
$ZenduForms-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$ZenduForms-warn: mat.define-palette(mat.$red-palette);

$ZenduForms-theme: mat.define-light-theme(
	(
		color: (
			primary: $ZenduForms-primary,
			accent: $ZenduForms-accent,
			warn: $ZenduForms-warn,
		),
	)
);

@include mat.all-component-themes($ZenduForms-theme);

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-spacer {
	flex: 1 1 auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

:root {
	--primary: #2188d9;
	--primary-hover: #1773bb;
	--accent: #429adf;
	--warn: #ff3d00;
	--success: #53d86a;
	--border: #b8b9bc;
	--black: #060c1b;
}

.search-field .mat-form-field-label {
	color: var(--border);
}

body .mat-form-field-label {
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	color: var(--black);
}

body .mat-form-field-appearance-fill .mat-form-field-flex {
	background: white;
	padding: 0.25em 0.75em 0 0.75em;
	display: flex;
	align-items: center;
}

.mat-form-field-wrapper {
	padding-bottom: 0;
}

.mat-form-field-subscript-wrapper {
	display: none;
}

.mat-form-field-underline {
	display: none;
}

.mat-select-arrow {
	opacity: 0;
}

.mat-checkbox-inner-container {
	width: 24px !important;
	height: 24px !important;
}

.custom-dropdown {
	margin-top: 30px;
	margin-left: 6px;
	width: 209px;
	min-width: 209px !important;
}

mat-paginator {
	.mat-paginator-range-actions {
		width: 100%;
	}

	.mat-paginator-range-label {
		width: 100%;
		margin: 0;
	}

	.mat-paginator-range-label:after {
		content: ' submissions';
	}
}
